* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.pokemonCard {
  border: 2px rgb(184, 184, 184) solid;
  border-radius: 3px;
  width: 300px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  padding: 3px 0;
}